﻿@model ChaveMovelDigital_NetFramework.Models.AuthenticatedModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Name</h2>
        <p>
            @Model.Name
        </p>
    </div>
    <div class="col-md-4">
        <h2>NIC</h2>
        <p>
            @Model.NIC
        </p>
    </div>
    <div class="col-md-4">
        <h2>NIF</h2>
        <p>
            @Model.NIF
        </p>
    </div>
</div>