﻿@model ChaveMovelDigital_NetFramework.Models.AuthSAMLRequestModel


@*using (@Html.BeginForm("myMethod", "Home", FormMethod.Post))
        @Html.HiddenFor(m => m.RelayState)

        @Html.HiddenFor(m => m.SAMLRequest)
    }*@

<form id="SendRequestForm" action="@Model.Action" method="post">
    @Html.HiddenFor(m => m.RelayState)

    @Html.HiddenFor(m => m.SAMLRequest)

    <input type="submit" value="Submit" class="btn btn-default" />
</form>

<script>
        window.onload = function () {
            document.forms['SendRequestForm'].submit();
        }
</script>